.container {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .nseriesWrapper {
    display: flex;
    justify-content: center;
  margin-top: 210px;

    gap: 25px;
    align-items: center;

  }.containerr {
   
  }
  
  .container:hover {
  }
  .firstLetter {
color: #0099ff;
    font-size: 3rem;
    font-weight: 800;
    
  }
  .series {
    color: white;
    word-spacing: 5px;
    font-weight: 900;
  }
  .heading{
    display: block;
    text-align: center;
  
  }
  .title {
  
    font-size: 4rem;
    font-weight: 800;
  }
  
  .subTitle {
  
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
  }
  

.containerr {
  width: 300px;
  height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(60deg) scale(0.7);
  transition: 0.5s all ease;
  box-shadow: 0px 20px 50px #555;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
}

.containerr:hover {
  transform: rotateX(0deg) scale(1) translateY(10px);
}
  
 
  
  .cardTitle{
    color: white;
    font-size: 1.4rem;
    text-align: center;
  }
  .cardTitle:hover{
  
  color: white;
  background-color: transparent;
  box-shadow: 0 10 10px #000;
  }

  
  
  
  
.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
    
  }
  
  .formInput {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  .form__input:placeholder-shown + .form__label {
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  

  .force{
    overflow-x: hidden;
  overflow-y: auto;
  }
